argcomplete
attrs
autocommand
Brlapi
btrfsutil
cffi
charset-normalizer
cryptography
cssselect
dbus-python
defusedxml
filelock
i3ipc
idna.collections
jaraco.context
jaraco.functools
jaraco.text
louis
lxml
Mako.dev0
Markdown
mercurial
meson
more-itertools
netsnmp-python-displays
packaging
psutil
psycopg2
pwquality
pycairo
pycparser
pyquery
python-xlib
setproctitle
setuptools
supabase
six
tqdm
urllib3
wheel
yt-dlp
