.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #dc3545;
    font-size: 0.9em;
    margin-top: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
    color: black;
}

.form-group input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.form-group select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
    appearance: menulist;
    font-size: 1rem;
}

.form-group select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.auth-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color:black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.auth-button:hover {
    background-color: #0056b3;
}